@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  /* font-family: "Montserrat",sans-serif; */
}

/* .bgShape{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/e-comerce1.appspot.com/o/download.png?alt=media&token=979df1c3-a2aa-4345-86ad-60e62c0910be");
  background-repeat: no-repeat;
  background-blend-mode: darken;
  position: absolute;
  z-index: 100%;
  background-size: contain;
} */